<h1> Recent</h1>

<ul>
  {{#each posts}}
    <li>
      <h2><a href="{{info.slug}}">{{info.title}}</a></h2>
      <h6>posted {{info.date}} by  <a href="/about/">clux</a>.</h6>
      {{{ summary }}}
    </li>
  {{/each}}
</ul>
