{% extends "base" %}
{% block title %}Posts{% endblock title %}

{% block content %}


<article>
  {% for post in post_list %}
    <section>
      <h1><a href="/e/{{post.info.slug}}">{{post.info.title}}</a></h1>
      <h6>posted {{post.info.date}}</h6>
      {{ post.summary }}
    </section>
  {% endfor %}
</article>

{% endblock content %}
